server:
  port: 8080
spring:
  application:
    name: "Franchise"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
aws:
  dynamodb:
    endpoint: "http://localhost:8000"
    tables:
      franchise-data: "franchise-data"
      branch-data: "branch-data"
      product-data: "product-data"